<!DOCTYPE html>
<html lang="pt -br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
</head>
<body background="C:\Users\Nathalia\Desktop\AC 4 Programação Web/imagens/parede.jpg" bgproperties="fixed">
    <h2> Formulário de Cadastro</h2>

    <form>
        <label>Nome Completo: </label>
        <input type="text" name="name" maxlength="30" size="35" placeholder="Digite nome"><br> <br>
        <label>Email </label>
        <input type="email" name="emai" maxlength="20" size="25" placeholder="Digite email"><br><br>
        <label>Senha: </label>
        <input type="password" name="password" maxlength="10" size="15"><br><br>
        <label>Informe o sexo:</label><br>
        <input type="radio" value="Masc" name="sexo"> Masculino <br>
        <input type="radio" value="Fem" name="sexo"> Feminino <br><br>
        <label>Informe seu Estado:</label><br>
        <select>
            <option name="est" value="AC">Acre</option>
            <option name="est" value="AL">Alagoas</option>
            <option name="est" value="AP">Amapá</option>
            <option name="est" value="AM">Amazonas</option>
			<option name="est" value="BA">Bahia</option>
			<option name="est" value="CE">Ceará</option>
			<option name="est" value="DF">Distrito Federal</option>
			<option name="est" value="ES">Espirito Santo</option> 
			<option name="est" value="GO">Goias</option>
			<option name="est" value="MA">Maranhão</option>
			<option name="est" value="MT">Mato Grosso</option>
			<option name="est" value="MS">Mato Grosso do Sul</option>
			<option name="est" value="MG">Minas Gerais</option>
			<option name="est" value="PA">Pará</option>
			<option name="est" value="PB">Paraíba</option>
			<option name="est" value="PR">Paraná</option>
			<option name="est" value="PE">Pernambuco</option>
			<option name="est" value="PI">Piauí</option>
			<option name="est" value="RJ">Rio de Janeiro</option>
			<option name="est" value="RN">Rio Grande do Norte</option>
			<option name="est" value="RS">Rio Grande do Sul</option>
			<option name="est" value="RO">Rondônia</option>
			<option name="est" value="RR">Roraima</option>
			<option name="est" value="SC">Santa Catarina</option>
			<option name="est" value="SP">São Paulo</option>
			<option name="est" value="SE">Sergipe</option>
			<option name="est" value="TO">Tocantins</option> <br><br><br>
        </select><br><br>
        <label>Observações</label><br>
        <textarea name="obs"> </textarea><br><br>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>