<!DOCTYPE html>
<html>

	 <head>
		<meta charset = 'utf-8'>  <!--- para habilitar caracters diferentes -->
		 <STRONG> <title> PAGINA PRINCIPAL </title></STRONG> </br></br>
		 <center><strong> FACULDADE IMPACTA DE TECNOLOGIA<br></strong> </center></br></br>	
						 
    </head>
<body background="parede.jpg" bgproperties="fixed">	
		   <center>  TURMA DO 4 GTI </center></P></br>	
		   
		   
		   
		 <ul type= 'circle'>
		 <a href ='contato'> <li> Contato </li> </a></br>
	     <a href ='login'> <li> Login </li> </a>
			
			 		  
				
    </body>
					 
</html>
