<!DOCTYPE html>
<html lang="pt -br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body background="C:\Users\Nathalia\Desktop\AC 4 Programação Web/imagens/parede.jpg" bgproperties="fixed">
    <h2> Acesse sua conta</h2>

    <form method="POST">
        <label>Nome: </label>
        <input type="text" name="name" maxlength="20" size="25" placeholder="Digite nome"><br> <br>
        <label>Email </label>
        <input type="email" name="email" maxlength="20" size="25" placeholder="Digite email"><br><br>
        <label>Senha: </label>
        <input type="password" name="password" maxlength="10" size="15"><br><br>
        
        <input type="submit" value="Entrar">
    </form>

</body>
</html>